@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600&family=Inter:wght@300;400&display=swap');
*{
    font-size: 16px;
    
}

body{
    margin: auto;
    width: 100%;
    min-width: 250px;
    background-color: #E9E9E9;
}

h1,h2,h3 {
    font-family: "Cinzel", serif;
}
h1 {
    font-size: 2.5rem;
}

h2 {
    font-size:2rem;
}

h3{
    font-size: 1.3rem;
}

p, a{
    font-family: "Inter", sans-serif;

}



#logo{
    width:200px;
    /* grid-column: 2; */
    margin: auto;
    padding: 0px 5rem;
}

/* MENU BUTTON */
#hamburgerbtn{
    background-color: transparent;
    border: none;
    font-size: 4rem;
    color: #E9E9E9;
    font-family: "Inter", sans-serif;
    padding: 20px;
    /* grid-column: 1; */
}

/* NAVIGATION */

#top-nav{
    background-color: #192537;

}


nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    background-color: #9C8B58;
    width: 100%;
    
}

nav ul li a {
    display: block;
    padding: .8rem 2vw;
    text-decoration: none;
    color: #e9e9e9;
    font-family: "Inter", sans-serif;
    text-align: center;
    
}


nav ul li a:hover, nav ul li a.active {
    background-color: #E9E9E9;
    color: #192537;
}

nav ul {
    display: none;
}

nav ul.open{
    display: block;
}

#hamburgerbtn span:nth-child(1) {display: block;}
#hamburgerbtn span:nth-child(2) {display: none;}

#hamburgerbtn.open span:nth-child(1) {display: none;}
#hamburgerbtn.open span:nth-child(2) {display: block;}

/* sign in button */
#sign-inbtn img{
    max-width: 1.5rem;
}
#sign-inbtn{
    background-color: transparent;
    border: none;
    padding: 20px;
    /* grid-column: 3; */
}

#info-banner{

    text-align: center;
    display: flex;
    justify-content: space-between;
}

.statement{
    padding-left: 50px;
    
}

.info-icons{
    padding-right: 50px;
}

.info-icons a {
    color: black;
    padding-left: 10px;
}

.info-icons img{
    width: 24px;

}

/* WEATHER ALERT */

#weather-banner{
    background-color: #50a4a4;
    color: #e9e9e9;
    margin: auto;
    padding: 10px 30px;
    text-align: center;
    display: grid;
    grid-template-columns: 90% 10%;
}

#closebtn{
    color: #E9E9E9;
    background: transparent;
    border: none;

}

#weather-banner.close{
    display: none;
}

#closebtn:hover{
    cursor: pointer;
}

#hero-cta{
    background-color: #e9e9e9;
    margin: -1rem;
    text-align: center;

}

#cta{
    padding: 4rem;
}

.book-now-btn{
    background-color: #9C8B58;
    color: #E9E9E9;
    border: none;
    font-family: "Cinzel", serif;
    font-size:1.5rem ;
    padding: 1rem;
}

.book-now-btn:hover{
    background-color: #192537;
    cursor: pointer;
}

/* IMAGE BANNER */
#hero-img{
    width: 100%;

}

/* TEMPLE SUMMARY */
#temple-sum img{
    width: 100%;
}

#temple-sum{
    position: relative;
}

#temple-desc{
    position: absolute;
    bottom: 5px;
    padding: 20px;
    background-color: #192537bd;
    color: #E9E9E9;
    width: 92%;
}

/* WHAT WE OFFER */

#features {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(420px, 1fr));
    background-color: #E9E9E9;
    text-align: center;
}

.offer {
    background-color: #E9E9E9;
    text-align: center;
    margin: -5px auto;
    padding: 50px 30px;
}

#features img{
    width: 100%;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

#features section{
    background-color: #e9e9e9;
    border: 2px solid #9C8B58;
    border-radius: 13px;
    margin: 2rem;
    /* padding: 1rem; */
}

#features h3, #features p{
    padding: 1px 1rem;
}

#features a{
    color: #192537;
}

#features a:hover{
    color: #9C8B58;
}

/* WEATHER */
#weather-card{
    background-color: #50a4a4;
    color: #E9E9E9;
    font-family: 'Inter', sans-serif;
    font-size: 0.5rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 20px;
    text-align: center;
}

#weather-card img{
    width:6rem;
}



#weather-card h4{
    font-family: 'Cinzel', serif;
    font-size: 1.1rem;

}

#current-weather{
    grid-column: 1/4;
    border-right: none;
    border-bottom: 2px solid #e9e9e9;


}

#cur-temp, #cur-f{
    font-size: 2rem;
}

#tom-f, #tom-temp, #day2-temp, #day2-f, #day3-temp, #day3-f{
    font-size: 2rem;
}



#tom-weather, #weather-2{
    border-right: 2px solid #E9E9E9;
}

#tom-weather, #weather-2, #weather-3{
    padding-left: 1rem;
}



/* FOOTER */
footer{
    background-color: #192537;
    color: #E9E9E9;
    display: grid;
    grid-template-columns:1fr ;
    grid-template-rows:15% 1fr 1fr;
    
}

#foot-logo{
    width: 15rem;
    padding: 10px 50px;
}
#social{
    margin: -64px 114px;

}
#social a{
    padding: 5px;
}

.twitter-foot{
    width: 24px;

}

#contact-info{
    grid-column: 1;
    grid-row: 2;
    padding: 20px;
}

#contact-info a img{
    width: 90%;
    -webkit-filter: grayscale(80%);
	filter: grayscale(80%);
}

#contact-info a:hover img{
    -webkit-filter: grayscale(0);
	filter: grayscale(0);
    -webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

#contact-form{
    margin-right:40px;
    grid-column: 1;
    grid-row: 3;
    padding: 20px;
}

#contact-form label{
    font-family: "Inter", sans-serif;
}

#contact-form label.top input, form label.top textarea{
    -webkit-appearance: none;
    display: block;
    font-size: 1rem;
    font-family: "Inter", sans-serif;
    border: solid 1px #999;
    border-radius: 4px;
    padding: .75rem;
    color: #E9E9E9;
    width: 90%;
    max-width: 20rem;
    background-color: rgba(0,0,0,0.1);
    margin-bottom: 20px;
}

#contact-form .submitBtn{
    background-color: #9C8B58;
    color: #E9E9E9;
    border: none;
    font-family: "Cinzel", serif;
    font-size:1rem ;
    padding: 1rem;
}

#contact-form .submitBtn:hover{
    background-color: #E9E9E9;
    color: #9C8B58;
    cursor: pointer;
}

#base-footer{
    grid-column: 1/4;
    text-align: center;
    padding: 20px 10px;
}

#base-footer a{
    color: #E9E9E9;
}
#base-footer a:hover{
    color: #9C8B58;
}



/* COLOR SCHEME */
/* BLUE: 192537 */
/* TEAL: 50A4A4 */
/* GOLD: 9C8B58 */
/* WHITE: E9E9E9 */