@media only screen and (min-width: 32.5em ) {
    header {
        display: grid;
        grid-template-columns: 210px 1fr;
    }
    
    h1 {
        font-size: 60px;
        margin-top: 80px;     
      }

      h2 {
        font-size: 30px;
      }
}