@import url("https://fonts.googleapis.com/css2?family=Spline+Sans:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
body {
  margin: auto;
  width: 75%;
}

header {
  /* display: grid;
  grid-template-columns: 210px 1fr; */ /* added to medium.css*/
  margin-top: 100px;
  background-color: #8aa8a1;
  padding: 30px;
  border-radius: 15px;
}
img {
  max-width: 100px;
}

h1 {
  font-family: "Spline Sans", sans-serif;
  font-size: 50px;
  margin-top: 10px;
  color: antiquewhite;
}

h2 {
  font-family: "Playfair Display", serif;
  font-size: 25px;
}

hr {
  color: black;
  background-color: black;
}

main {
  margin-left: 30px;
  background-color: #cae0d1;
  padding: 30px;
  margin-right: 30px;
  margin-top: 10px;
  padding-top: 10px;
  border-radius: 15px;
}

ul,
a {
  font-family: "Playfair Display", serif;
}

.bottom-note {
  font-family: "Playfair Display", serif;
  font-style: italic;
  font-size: 12px;
}

footer{
  background-color:#8aa8a1;
  border-radius: 15px;
  padding:15px;
  margin-top:10px;
  margin-bottom:50px;
}

.copyright{
  font-family: "Playfair Display", serif;
  text-align:center;
  color:white;
}

#last-update {
  font-family: "Playfair Display", serif;
  text-align:center;
  font-size:12px;
  color:antiquewhite;
}