@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&family=Open+Sans&display=swap');

body{
    margin: 1rem;
    font-size: 16px;
}

h1, h2 {
    text-align: center;
    font-family: 'Merriweather', serif;
    color: rgb(38, 45, 105);
}

p {
    font-family: 'Open Sans', sans-serif;
    margin-top: -10px;
}

img {
    width: auto;
    max-width: 325px;
    box-shadow: 0 0 30px #777;
    height: 200px;
    border: 1px solid #333;
}

.cards{
    box-shadow: 0 0 15px #999;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}
section{
    border: 2px solid #888;
    margin: 1rem;
    padding: 10px;
    text-align: center;
    background-color: rgb(152, 160, 185);
}